.word-container {
  background-color: #ededed;
  padding: 7px;
  font-family: Consolas, monospace, 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 15px;
}

.word-container-title {
  font-size: 16px;
  margin-top: 32px;
}
